/*styles.css*/

* {
    background-color: floralwhite;
    font-family: "Times New Roman", Arial, Verdana;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-style: oblique;
}

img {
    width: 250;
    height: auto;
}

.text-center {
    text-align: center;
    margin-bottom: 25px;
}

.list {
    font-style: oblique;
}

.main {
    font-weight: bold;
}

.center {
    display: block;
    margin: auto;
}

#crazy {
    color: red;
    font-weight: bold;
}

.item {
    margin: 15px 100px;
    text-align: center;
    background-color: moccasin;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 3px solid black;
}

.item .text {
    background-color: moccasin;
}

